@import url("./font.css");


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #2FB188;
}



html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 62.5%;
    /* 1rem ==> 10px */
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: YekanBakh, dana;
    background-color: #ffffff;
    color: #5c5c5c;
    direction: rtl;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}





.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    /* background-image: url("../assets/Images/apple.svg"); */
    /* background-repeat: initial; */


}



.header {
    display: flex;
    align-content: center;
    padding-top: 40px;
    padding-right: 99px;
    border-radius: 20px;
    flex-wrap: wrap;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Dana";
    font-weight: 400;
    line-height: normal;
    color: #000;
    font-size: 18px;
    /* position: absolute; */
    gap: 48px;
    padding-right: 160px;
}


.header__nav-item--active {
    position: relative;
    color: #252525;
    padding-bottom: 3px;
}

.header__nav-item--active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 2px;
    border-radius: 4px;
    background-color: #1FA55D;
    border-radius: 1.6rem;
}



.header__logo {
    width: 67px;
    height: 55px;
}

.header__logo-name {
    flex-direction: column;
}


.header__logo-nameEN {
    align-items: center;
    font-family: "Dana";
    font-weight: 700;
    line-height: normal;
    color: #000;
    font-size: 19px;

}


.header__logo-nameFA {
    /* display: flex; */
    align-items: center;
    font-family: "Dana";
    font-weight: 400;
    line-height: normal;
    color: #000;
    font-size: 12px;

}

.header__register {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Dana";
    font-weight: 400;
    line-height: normal;
    /* padding: 1rem 2rem; */
    padding-right: 150px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    gap: 0.8rem;
    white-space: nowrap;
    cursor: pointer;
}

.header__register img {
    padding-left: 17px;
}


.header__search input {
    background: transparent;
    padding: 0;
    width: 0;
    height: 0;
    opacity: 0;
    /* position: absolute; */
    pointer-events: none;
}


.banner__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 150px;
    margin-right: 250px;
    gap: 10px;
}

.banner__content--profile {
    filter: drop-shadow(0 14px 31px hsla(161, 58%, 44%, 0.57));
    /*(-13.923px -20.71px / 120.906% 158.362% #2FB188); */
    position: relative;
}


.banner__content--circle1 {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    margin-left: 614px;
}


.banner__content--dash1 {
    width: 17px;
    height: 4px;
    background: rgba(193, 193, 193, 1);
    border-radius: 2px;

    /* ۵ خط دیگه با فاصله مساوی */
    box-shadow:
        24px 0 rgba(193, 193, 193, 1),
        48px 0 rgba(193, 193, 193, 1),
        72px 0 rgba(193, 193, 193, 1),
        96px 0 rgba(193, 193, 193, 1),
        120px 0 rgba(193, 193, 193, 1);
}

.banner__content--title1 {
    color: var(--main-color);
    font-family: "Dana";
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    margin-right: -140px;

}

.banner__content--taghziye {
    height: 70px;
}

.banner__content--circle2 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FF4E78;
    /* margin-left: 472px; */
}


.banner__content--dash2 {
    width: 17px;
    height: 4px;
    background: rgba(193, 193, 193, 1);
    border-radius: 2px;

    /* ۵ خط دیگه با فاصله مساوی */
    box-shadow:
        24px 0 rgba(193, 193, 193, 1),
        48px 0 rgba(193, 193, 193, 1),
        72px 0 rgba(193, 193, 193, 1),
        96px 0 rgba(193, 193, 193, 1),
        120px 0 rgba(193, 193, 193, 1);

    margin-right: 110px;
}


.banner__content--title2 {
    color: #FF4E78;
    font-family: "Dana";
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 28px;
    position: absolute;
    margin-right: 140px;
}

.banner__content--varzesh {
    height: 70px;
}

.banner__content--text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 184px;
    font-family: "Dana";
    font-weight: 400;
    font-size: 47px;
    color: #252525;
    margin-top: 20px;
    gap: 20px;
    margin-right: 30%;
}




/* کادر سبز با نقطه های کنارش */

.banner__content--text1 {
    position: relative;
    width: 364px;
    height: 86px;
    border: 3px solid #252525;
    color: #fff;
    background-color: var(--main-color);
    font-family: "Dana";
    font-weight: 400;
    font-size: 50px;
}

.banner__content--text1::before,
.banner__content--text1::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    border: 3px solid black;
}

/* بالا-چپ */
.banner__content--text1::before {
    top: -7px;
    left: -7px;
}

/* بالا-راست */
.banner__content--text1::after {
    top: -7px;
    right: -7px;
}

.banner__content--text1 span::before,
.banner__content--text1 span::after {
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    border: 3px solid black;
    position: absolute;
}

/* پایین-چپ */
.banner__content--text1 span::before {
    bottom: -7px;
    left: -7px;
}

/* پایین-راست */
.banner__content--text1 span::after {
    bottom: -7px;
    right: -7px;
}


/* پنج تا کارت و نماد */


.banner__content--text-cart {
    background-color: #5c5c5c;
    border-radius: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%);

    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 125px;
}



.banner__content--cart {}



.banner__content--cart-image {
    text-align: center;
    align-items: center;
    background-color: #F8F8F8;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 3px solid #252525;
    border-radius: 16px;
    text-align: center;
    padding: 20px 20px;

}

.banner__content--cart-title {
    margin-top: 15px;
    color: #252525;
    text-align: center;
    font-family: "Dana";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}